body {
    background: #000;
    padding: 0;
    margin: 0;
    color: #fff;
    font: normal 14px sans-serif;
}
canvas {
    display: block;
    margin: 0 auto;
}

@font-face{
	font-family: 'All+the+Way+to+the+Sun';
	src: url('All the Way to the Sun.ttf');
}

.hidden{
	font-family: 'All+the+Way+to+the+Sun';
	visibility: hidden;
	position: absolute;
}