body {
  background: #000;
  padding: 0;
  margin: 0;
  color: #fff;
  font: normal 14px sans-serif;
  background-color: #800000;
}

canvas {
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: 'Sun';
  src: url('/fonts/Sun.ttf');
}

.hidden {
  font-family: 'Sun';
  visibility: hidden;
  position: absolute;
}